
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* html, body {
  width: 100%;
  height: 100%;
} */

.videoBox {
  position: relative;
  width: 100%;
  height: 100vh; /* Adjust the height as needed */
  overflow: hidden;
}

.backgroundVideo {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -1;
  transform: translate(-50%, -50%);
}
.content {
  position: relative;
  z-index: 1;
}

.watchBox, .stopWatch{
  background-image: url('https://i.pinimg.com/736x/5c/6f/80/5c6f80fe56002e36a289954c902ba279.jpg');
  height: 20rem;
  width: 30vw;
  border: 5px solid #292957;
  margin: 9.5rem 9.5rem 0 9.5rem;
  border-radius: 50%;
  text-align: center;
  background-size: cover;
  object-fit: cover;
  color: #fff;


}

.stopWatch{
  position: absolute;
  top: 0.5rem;
  right:-1rem;
}
.stopWatch h1{
  margin-top: 35%;
  font-size: 3rem;
}
.time{
  /* padding: 2rem; */
  justify-items: center;
  margin-top: 45%;
}
.currentDate{
  font-size: 3.4rem;
}

.digitalText{
  font-size: 2.5rem;
}
.buttons{
  display: flex;
  gap: 2rem;
  justify-content: center;
  margin-top: 2rem;
}
button{
  padding: 0.8em;
  font-size: 1em;
  /* background-color: #a8e98e; */
  border-radius: 0.5em;
  color: rgb(6, 6, 138);
  border: 2px solid blue;
  font-weight: bold;
  cursor: pointer;
}
.recoadButton{
  margin-top: 1.5rem;
}
.timeRecords{
  position: absolute;
  top: 5rem;
  left: 53rem;
  font-size: 3rem;
  color: #fff;
}
.digitalText{
  position: absolute;
  top: 3.5rem;
  left: 15rem;
  font-size: 4rem;
  text-decoration: underline;
  color: #fff;

}
.timmer{
  position: absolute;
  top: 3.5rem;
  right: 20rem;
  font-size: 4rem;
  text-decoration: underline;
  color:  #fff;
}
.listBox{
  width: 26rem;
  margin-left: 47.5rem;
  margin-top: -35rem;
}
.timeList{
  position: relative;
  margin: 1rem 0 0 0;
  color: #fff;
  padding: 0.5rem;
  border: 2px solid #fff;
  display: flex;
  justify-content: space-between;
  

}
.crossBtn{
  padding: 0 0.3em 0 0;
  font-size: 2rem;
  background-color: transparent;
  border: none;
  cursor: pointer;
  color: #fff;
}
.crossBtn:hover{
  color: #fa0505;
}
#stop{
  color: red;
  border: 2px solid red;
}
#start{
  color: green;
  border: 2px solid green;
}
#restart{
  color: #f54905;
  border: 2px solid #f54905;
}


/* Responsive for Large laptop screen size. */
@media (max-width: 2560px) {
  .watchBox, .stopWatch {
    height: 45rem;
    width: 28vw;
    margin: 8rem 4rem;
  }
  .stopWatch h1 {
    margin-top: 35%;
    font-size: 5rem;
  }
  /* .time {
    margin-top: 45%;
  } */
  .currentDate {
    font-size: 4rem;
  }
  .timmer{
    right: 19rem;
  } 
  .timeRecords {
    top: 5rem;
    left: 70rem;
  }
  button{
    padding: 0.6em;
    font-size: 2em;
  }
  .listBox {
    width: 55rem;
    margin-left: auto;
    margin-right: auto;
    margin-top: -50rem;
    font-size: 1.9rem;
  }
  
}
@media (max-width: 1920px) {
  .watchBox, .stopWatch {
    height: 35rem;
    width: 29vw;
    margin: 8rem 4rem;
  }
  button{
    padding: 0.6em;
    font-size: 1.5em;
  }
  .stopWatch h1 {
    margin-top: 35%;
    font-size: 4rem;
  }
  .time {
    margin-top: 45%;
  }
  .currentDate {
    font-size: 3rem;
    margin-top: 1.4rem;
  }
  .digitalText, .timmer {
    font-size: 3rem;
    top: 2rem;
    left: 13rem;
    text-align: center;
  }
  .timmer{
    right: -67rem;
  }
  .timeRecords {
    left: 55rem;
    font-size: 2.5rem;
  }
  button{
    padding: 0.3em;
    font-size: 1.5em;
  }
  .listBox {
    width: 35rem;
    margin-left: auto;
    margin-right: auto;
    margin-top: -42rem;
    font-size: 1rem;
  }
}


/* Responsive for medium laptop screen size. */
@media (max-width: 1440px) {
  .watchBox, .stopWatch {
    height: 28rem;
    width: 31vw;
    margin: 5rem 1rem;
  }
  .stopWatch h1 {
    font-size: 3rem;
  }
  .currentDate {
    font-size: 2.5rem;
  }
  .digitalText, .timmer {
    font-size: 2.5rem;
    top: 1.5rem;
    left: 8rem;
    text-align: center;
  }
  .timmer{
    right: -54rem;
  }
  .timeRecords {
    left: 40rem;
    font-size: 2rem;
  }
  button{
    padding: 0.3em;
    font-size: 1.3em;
  }
  .listBox {
    width: 30rem;
    margin-left: auto;
    margin-right: auto;
    margin-top: -30rem;
    font-size: 1rem;
  }
}


/* responsive for small laptop */
@media (max-width: 1024px) {
  .watchBox, .stopWatch {
    height: 28rem;
    width: 45vw;
    margin: 5rem 1rem;
  }
  .stopWatch h1 {
    font-size: 2.5rem;
  }
  .currentDate {
    font-size: 2.5rem;
  }
  .digitalText, .timmer {
    font-size: 2.5rem;
    top: 1.5rem;
    left: 8rem;
    text-align: center;
  }
  .timmer{
    right: -26rem;
  }
  .timeRecords {
    top: 30rem;
    left: 26rem;
    font-size: 2rem;
    text-align: center;
  }
  .listBox {
    width: 22rem;
    margin-left: auto;
    margin-right: auto;
    margin-top: -5rem;
  }
}

/* responsive for tab */
@media (max-width: 768px) {
  .watchBox, .stopWatch {
    height: 20rem;
    width: 42vw;
  }
  .stopWatch h1 {
    font-size: 2.5rem;
  }
  .currentDate {
    font-size: 2rem;
  }
  .digitalText, .timmer {
    font-size: 2.5rem;
    top: 1.5rem;
    left: 4rem;
  }
  .timeRecords {
    top: 23rem;
    left: 19rem;
    font-size: 2rem;
    text-align: center;
  }
  .buttons{
    gap: 0.4rem;
    margin-top: 0.3rem;
  }
  button{
    padding: 0.3em;
    font-size: 1em;
  }
  .recoadButton{
    margin-top: 0.6rem;
  }
  .listBox {
    width: 26rem;
    margin-left: auto;
    margin-right: auto;
    margin-top: -3rem;
    font-size: 1rem;
  }
}


/* large mobile size */
@media (max-width: 425px) { 
  .watchBox, .stopWatch {
    height: 13rem;
    width: 50vw;
    margin: 2rem 4rem 0 7rem;
  }
  .stopWatch {
    top: 17rem;
    left: 0.01rem;
  }
  .stopWatch h1 {
    font-size: 1.8rem;
  }
  .currentDate {
    font-size: 1.3rem;
  }
  .digitalText, .timmer {
    font-size: 1.5rem;
    top: 1rem;
    left: 9rem;
    right: auto;
    text-align: center;
  }
  .timmer{
    top: 16.6rem;
    left: 11rem;
  }
  .timeRecords {
    top: 32.5rem;
    left: 9rem;
    font-size: 1.5rem;
    text-align: center;
  }
  .buttons{
    gap: 0.4rem;
    margin-top: 0.3rem;
  }
  button{
    padding: 0.3em;
    font-size: 0.5em;
  }
  .listBox {
    width: 18rem;
    margin-top: 18.5rem;
    padding: 0;
  }
  .timeList{
    padding: 0.1rem 0.4rem 0 0.5rem;
    font-size: 0.6rem;
  }
  .crossBtn{
    font-size: 1rem;
  }
  .recoadButton{
    margin-top: 0.6rem;
  }
}

@media (max-width: 400px) {
  .watchBox, .stopWatch {
    height: 14rem;
    width: 60vw;
    margin: 1.5rem 0 0 5rem;
  }
  .digitalText{
    left: 8rem;
  } 
  .timmer{
    left: 9rem;
  }
  .timeRecords {
    left: 8rem;
  }

}

/* Mobile (portrait and landscape) */
@media (max-width: 375px) {
  .watchBox, .stopWatch {
    height: 13rem;
    width: 55vw;
    margin: 2rem 4rem 0 5rem;
  }
  .stopWatch {
    top: 17rem;
    left: 0.01rem;
  }
  .stopWatch h1 {
    font-size: 1.8rem;
  }
  .currentDate {
    font-size: 1.3rem;
  }
  .digitalText, .timmer {
    font-size: 1.5rem;
    top: 1rem;
    left: 7rem;
    right: auto;
    text-align: center;
  }
  .timmer{
    top: 16.6rem;
    left: 9rem;
  }
  .timeRecords {
    top: 32.5rem;
    left: 7.5rem;
    font-size: 1.5rem;
    text-align: center;
  }
  .buttons{
    gap: 0.4rem;
    margin-top: 0.3rem;
  }
  button{
    padding: 0.3em;
    font-size: 0.5em;
  }
  .listBox {
    width: 18rem;
    margin-top: 18.5rem;
    padding: 0;
  }
  .timeList{
    padding: 0.1rem 0.4rem 0 0.5rem;
    font-size: 0.6rem;
  }
  .crossBtn{
    font-size: 1rem;
  }
  .recoadButton{
    margin-top: 0.6rem;
  }
}


@media (max-width: 320px) {
  .watchBox, .stopWatch {
    height: 11rem;
    width: 55vw;
    margin: 2rem 0 0 4rem;
  }
  .stopWatch{
    margin: 0.5rem 0 0 4rem;
  }
  .stopWatch h1 {
    font-size: 1.4rem;
  }
  .currentDate {
    font-size: 1rem;
  }
  .digitalText, .timmer {
    left: 5rem;
  } 
  .timmer{
    top: 15rem;
    left: 7.2rem;
  }
  .timeRecords {
    top: 29rem;
    left: 5.5rem;
  }
  .listBox {
    margin-top: 17rem;
  }

}
