*{
  padding: 0;
  margin: 0;
}
.videoBox {
  position: relative;
  width: 100%;
  height: 100vh; /* Adjust the height as needed */
  overflow: hidden;
}

.backgroundVideo {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -1;
  transform: translate(-50%, -50%);
}
.content {
  position: relative;
  z-index: 1;
}

.watchBox, .stopWatch{
  background-image: url('https://i.pinimg.com/736x/5c/6f/80/5c6f80fe56002e36a289954c902ba279.jpg');
  height: 35rem;
  width: 30vw;
  border: 2px solid blue;
  margin: 9.5rem 9.5rem 0 9.5rem;
  border-radius: 50%;
  text-align: center;
  background-size: cover;
  object-fit: cover;
  color: #fff;

}
.stopWatch{
  position: absolute;
  top: 0.5rem;
  right:-1rem;
}
.stopWatch h1{
  margin-top: 12rem;
  font-size: 3rem;
}
.time{
  padding: 2rem;
  margin-top: 14rem;
  justify-items: center;
}
.currentDate{
  font-size: 3.4rem;
}

.digitalText{
  font-size: 2.5rem;
}
.buttons{
  display: flex;
  gap: 2rem;
  justify-content: center;
  margin-top: 2rem;
}
button{
  padding: 0.8em;
  font-size: 1em;
  /* background-color: #a8e98e; */
  border-radius: 0.5em;
  color: rgb(6, 6, 138);
  border: 2px solid blue;
  font-weight: bold;
  cursor: pointer;
}
.recoadButton{
  margin-top: 1.5rem;
}
.timeRecords{
  position: absolute;
  top: 5rem;
  left: 53rem;
  font-size: 3rem;
  color: #fff;
}
.digitalText{
  position: absolute;
  top: 3.5rem;
  left: 15rem;
  font-size: 4rem;
  text-decoration: underline;
  color: #fff;

}
.timmer{
  position: absolute;
  top: 3.5rem;
  right: 20rem;
  font-size: 4rem;
  text-decoration: underline;
  color:  #fff;
}
.listBox{
  width: 26rem;
  margin-left: 47.5rem;
  margin-top: -35rem;
}
.timeList{
  position: relative;
  margin: 1rem 0 0 0;
  color: #fff;
  padding: 0.5rem;
  border: 2px solid #fff;
  display: flex;
  justify-content: space-between;
  

}
.crossBtn{
  padding: 0 0.3em 0 0;
  font-size: 2rem;
  background-color: transparent;
  border: none;
  cursor: pointer;
  color: #fff;
}
.crossBtn:hover{
  color: #fa0505;
}
#stop{
  color: red;
  border: 2px solid red;
}
#start{
  color: green;
  border: 2px solid green;
}
#restart{
  color: #f54905;
  border: 2px solid #f54905;
}

@media (max-width: 1024px) {
  .watchBox, .stopWatch {
    height: 28rem;
    width: 45vw;
    margin: 5rem 1rem;
  }
  /* .stopWatch {
    top: 1rem;
    right: 0;
  } */
  .stopWatch h1 {
    margin-top: 8rem;
    font-size: 2.5rem;
  }
  .time {
    margin-top: 10.5rem;
  }
  .currentDate {
    font-size: 2.5rem;
  }
  .digitalText, .timmer {
    font-size: 2.5rem;
    top: 1.5rem;
    left: 8rem;
    /* right: auto; */
    text-align: center;
  }
  .timmer{
    right: -26rem;
  }
  .timeRecords {
    top: 30rem;
    left: 26rem;
    font-size: 2rem;
    text-align: center;
  }
  .listBox {
    width: 22rem;
    margin-left: auto;
    margin-right: auto;
    margin-top: -5rem;
  }
}

/* Mobile (portrait and landscape) */
@media (max-width: 380px) {
  .watchBox, .stopWatch {
    height: 13rem;
    width: 55vw;
    margin: 2rem 4rem 0 5rem;
  }
  .stopWatch {
    top: 17rem;
    left: 0.01rem;
  }
  .stopWatch h1 {
    margin-top: 5rem;
    font-size: 1.8rem;
  }
  .time {
    margin-top: 3.6rem;
  }
  .currentDate {
    font-size: 1.3rem;
  }
  .digitalText, .timmer {
    font-size: 1.5rem;
    top: 1rem;
    left: 7rem;
    right: auto;
    text-align: center;
  }
  .timmer{
    top: 16.6rem;
    left: 9rem;
  }
  .timeRecords {
    top: 32.5rem;
    left: 7.5rem;
    font-size: 1.5rem;
    text-align: center;
  }
  .buttons{
    gap: 0.4rem;
    margin-top: 0.3rem;
  }
  button{
    padding: 0.3em;
    font-size: 0.5em;
  }
  .listBox {
    width: 18rem;
    margin-top: 18.5rem;
    padding: 0;
  }
  .timeList{
    padding: 0.1rem 0.4rem 0 0.5rem;
    font-size: 0.6rem;
  }
  .crossBtn{
    font-size: 1rem;
  }
  .recoadButton{
    margin-top: 0.6rem;
  }
}
